.App {
  text-align: center;
}

* {
  font-family: "Raleway";
}
.badge:after {
  content: attr(value);
  font-size: 10px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid black;
  padding: 2px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}
.navigation {
  margin-left: 100px;
}
.actions {
  margin-right: 100px;
}
